.main_awesome-block {
	padding: 105px 135px;
	text-align: center;
}
.main_awesome-block h2,
.main_price-block h2,
.main_customers-koment h2,
.main_axure-design h2,
.main_contact-block h2 {
	font-size: 3.6em;
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 60px;
	position: relative;
}
.main_awesome-block h2:after,
.main_price-block > h2:after,
.main_customers-koment > h2:after,
.main_axure-design > h2:after,
.main_contact-block > h2:after {
	content: '';
	display: block;
	position: absolute;
	bottom: -30px;
	left: 50%;
	margin-left: -35px;
	border-bottom: 2px solid #ff8b38;
	width: 65px;
}
.main_awesome-block p,
.main_price-block p,
.main_customers-koment p,
.main_axure-design p,
.main_contact-block p {
	font-size: 1.4em;
	color: #86878b;
}
.main_awesome-block h3
.main_price-block h3 {
	font-size: 2em;
	margin-bottom: 30px;
}
.awesome-block_design,
.awesome-block_keyboard,
.awesome-block_flash {
	float: left;
	margin-top: 175px;
	margin-right: 25px;
	width: 31%;
	position: relative;
}
.awesome-block_design:after,
.awesome-block_keyboard:after,
.awesome-block_flash:after {
	content: '';
	position: absolute;
	display: block;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	border: 1px solid #ff8b38;
	top: -75px;
	left: 50%;
	margin-left: -30px;
}
.awesome-block_design:after {
	background: url(../img/lamp.png)50% 50% no-repeat;
}
.awesome-block_keyboard:after {
	background: url(../img/keyboard.png)50% 50% no-repeat;
}
.awesome-block_flash:after {
	background: url(../img/light.png)50% 50% no-repeat;
}
.awesome-block_flash {
	margin-right: 0;
}
.main_awesome-block:after {
	content: '';
	display: block;
	height: 0;
	clear: both;
}