.main_awesome-block {
	padding: 99px 147px 90px 149px;
	text-align: center;
}
.main_awesome-block h2,
.main_price-block h2,
.main_customers-koment h2,
.main_axure-design h2,
.main_contact-block h2 {
	font-size: 3.6em;
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 51px;
	position: relative;
	letter-spacing: -.2px;
}
.main_awesome-block h2:after,
.main_price-block > h2:after,
.main_customers-koment > h2:after,
.main_axure-design > h2:after,
.main_contact-block > h2:after {
	content: '';
	display: block;
	position: absolute;
	bottom: -25px;
	left: 50%;
	margin-left: -32px;
	border-bottom: 2px solid #ff8b38;
	width: 65px;
}
.main_awesome-block p,
.main_price-block p,
.main_customers-koment p,
.main_axure-design p,
.main_contact-block p {
	font-size: 1.4em;
	color: #86878b;
}
.main_awesome-block h3,
.main_price-block h3 {
	font-size: 2em;
	letter-spacing: .6px;
	margin-bottom: 20px;
}
.awesome-block_design,
.awesome-block_keyboard,
.awesome-block_flash {
	float: left;
	margin-top: 139.4px;
	margin-right: 38px;
	width: 31%;
	position: relative;
}
.awesome-block_design:after,
.awesome-block_keyboard:after,
.awesome-block_flash:after {
	content: '';
	position: absolute;
	display: block;
	width: 66px;
	height: 66px;
	border-radius: 50%;
	border: 2px solid #ff8b38;
	top: -74px;
	left: 50%;
	margin-left: -37px;
	background-position: 48% 49%;
	background-repeat: no-repeat;
}
.awesome-block_design:after {
	background-image: url(../img/lamp.png);
}
.awesome-block_keyboard:after {
	margin-left: -35px;
	background-image: url(../img/keyboard.png);
}
.awesome-block_flash:after {
	margin-left: -33px;
	background-image: url(../img/light.png);
}
.awesome-block_flash {
	margin-right: 0;
}
.main_awesome-block:after {
	content: '';
	display: block;
	height: 0;
	clear: both;
}