.main_axure-design {
	padding: 65px 100px 65px;
	text-align: center;
	background: url(../img/bg_bottom.jpg) 50% 50% no-repeat rgba(0, 0, 0, .6);
	background-blend-mode: darken;
	h2{
		color: #fff;
		letter-spacing: 0;
		margin-bottom: 55px;
	}
	p {
		font-size: 1.58em;
		color: #d4d4d4;
		margin-bottom: 30px;
	}
	> h2:after {
		border-color: #fff;
	}
	.btn {
		margin-left: 44.48%;
	}
}

