.main_picture-one_block {
	padding: 97px 165px 93px 103px;
	.picture-block {
		float: left;
	}
	.block_title {
		position: relative;
		width: 50%;
		padding-left: 130px;
		margin-left: 50%;
		margin-top: -15px;
		&:after,
		&:before {
			content: '';
			position: absolute;
			display: block;
			width: 36px;
			height: 36px;
			border: 2px solid #ff8b38;
			border-radius: 50%;
			left: 130px;
		}
		&:before {
			top: 184px;
			background: url(../img/cloud-up.png)50% 50% no-repeat;
		}
		&:after {
			top: 282px;
			background: url(../img/cloud-down.png)50% 50% no-repeat;
		}
		h4 {
			font-size: 1.4em;
			font-weight: normal;
			margin-bottom: -11px;
			letter-spacing: .4px;
		}
		h4 + p {
			margin-bottom: 38px;
		}
	}
	&:after {
		content: '';
		display: block;
		height: 0;
		clear: both;
	}
}

.block_title h3,
.picture-block_left-side h3  {
	font-size: 2em;
	position: relative;
	margin-bottom: 54px;
	letter-spacing: .6px;
}
.block_title h3:after,
.picture-block_left-side h3:after {
	content: '';
	display: block;
	position: absolute;
	bottom: -26.8px;
	left: 1px;
	border-bottom: 2px solid #ff8b38;
	width: 64px;
}
.block_title h3 + p {
	margin-bottom: 43px;
}
.block_title p,
.picture-block_left-side p {
	font-size: 1.4em;
	color: #86878b;
}
.block_title h4,
.block_title h4 + p {
	margin-left: 16%;
}