.main_reg-block {
	padding: 110px 148px 138px;
	background: url(../img/bg_top.jpg) 50% 39.8% no-repeat rgba(0, 0, 0, .5);
	background-blend-mode: darken;
	position: relative;
	.reg-block_logo {
		margin-left: 4px;
		width: 171px;
		height: 59px;
	}
	h1 {
		color: #fff;
		font-family: 'Raleway', sans-serif;
		font-size: 3.6em;
		text-transform: uppercase;
		font-weight: normal;
		padding-top: 25px;
		padding-bottom: 34px;
		margin: 0;
	}
	.reg-block_line {
		margin-left: 5px;
		width: 64px;
		border-bottom: 2px solid #fff;
	}
	.reg-block_text {
		font-family: 'Raleway', sans-serif;
		font-size: 1.6em;
		line-height: 23px;
		color: #c4c4c4;
		width: 480px;
		margin-top: 36px;
		margin-left: 3px;
		margin-bottom: 40px;
		letter-spacing: -.1px;
	}
	.reg-block_reg-form {
		position: absolute;
		top: 140px;
		right: 149px;
		width: 360px;
		background: #fff;
		border-radius: 5px;
		.reg-form_top {
			background: #f5f5f5;
			padding: 13px 0;
			text-align: center;
			border-radius: 5px 5px 0 0;
			h2 {
				text-transform: capitalize;
				letter-spacing: .6px;
				font-size: 2em;
				font-weight: bold;
				margin-top: 0;
				margin-bottom: 0;
				span {
					color: #ff8f38;
					text-transform: uppercase;
				}
			}
		}
		.reg-form_button {
			padding: 2px 0 1px;
			text-align: center;
			background: #ff9b51;
			border-radius: 0 0 5px 5px;
			transition: box-shadow .5s;
			cursor: pointer;
			&:hover {
				box-shadow: inset 0 0 20px #fff;
			}
			p {
				text-transform: capitalize;
				font-size: 1.5em;
				color: #fff;
				font-weight: bold;
			}
		}
	}
}
input, textarea {
	display: block;
	width: 285px;
	height: 30px;
	font-size: 1.4em;
	padding: 10px 15px;
	border: none;
	margin: 0 38px;
	border-bottom: 1px solid #d6d6d6;
}
input[type=text] {
	margin-top: 30px;
}
input[type=email] {
	margin-top: 38px;
}
input[type=password] {
	margin-top: 48px;
	margin-bottom: 49px;
}
input[placeholder] {
	color: #ccc;
}
input:focus {
	outline: none;
}