@font-face {
	font-family: "untitled-font-1";
	src: url(../font/fonts/untitled-font-1.eot);
	src: url(../font/fonts/untitled-font-1.eot#iefix) format('embedded-opentype'),
		 url(../font/fonts/untitled-font-1.ttf) format('truetype'),
		 url(../font/fonts/untitled-font-1.svg#untitled-font-1) format('svg'),
		 url(../font/fonts/untitled-font-1.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}