.c-picture__first {
	padding: 97px 0 87px;
	.c-picture__title {
		position: relative;
		width: 50%;
		padding-left: 100px;
		margin-left: 50%;
		margin-top: -15px;
		&:after,
		&:before {
			content: '';
			position: absolute;
			display: block;
			width: 36px;
			height: 36px;
			border: 2px solid #ff8b38;
			border-radius: 50%;
		}
		&:before {
			top: 184px;
			background: url(../img/cloud-up.png)50% 50% no-repeat;
		}
		&:after {
			top: 282px;
			background: url(../img/cloud-down.png)50% 50% no-repeat;
		}
		h4 {
			font-size: 1.4em;
			font-weight: normal;
			margin-bottom: -11px;
			letter-spacing: .4px;
		}
		h4 + p {
			margin-bottom: 38px;
		}
	}
}

.c-picture__title h3,
.c-picture__left h3  {
	font-size: 2em;
	position: relative;
	margin-bottom: 25px;
	letter-spacing: .6px;
}
.c-picture__title h3 + p {
	margin-bottom: 43px;
}
.c-picture__title p,
.c-picture__left p {
	font-size: 1.4em;
	color: #86878b;
}
.c-picture__title h4,
.c-picture__title h4 + p {
	margin-left: 16%;
}